<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" [ngClass]="status ? 'is-active' : ''"  (click)="togglebutton()"aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" [ngClass]="status ? 'is-active' : ''">
    <!-- hidden on mobile -->
    <a routerLink='/index' class="navbar-item" routerLinkActive="is-link" [routerLinkActiveOptions]="{ exact: true }">     
       Home
    </a>
    <a routerLink="/berita" class="navbar-item" routerLinkActive="is-link">
      Berita
    </a>

    <a class="navbar-item" routerLink="/login" class="navbar-item" routerLinkActive="is-link">
      Login
    </a>
  </div>
  
  <div class="navbar-menu is-active">
    <!-- shown on mobile -->
  </div>
</nav>