<app-navbar></app-navbar>
<section class="section">
  <app-buttonadd (click)="tooglemodals()"></app-buttonadd>

  <button class="button is-info is-outlined" (click)="clearcache()"> 
      <span class="icon">
        <i class="fa fa-sync-alt"></i>
      </span>
      <span>Refresh</span>
  </button>
</section>
<section class="section">
  <table class="table  is-striped is-hoverable is-fullwidth">
    <thead>
      <th>Judul Berita</th>
      <th>Deskripsi</th>
      <th>Deskripsi Panjang</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of messages$ | async  | paginate: config; trackBy: trackById">
        <td>{{item.title}}</td>
        <td>{{item.deskripsi}}</td>
        <td>{{item.deskripsipanjang}}</td>
        <td><button class="button is-danger" (click)="Delete(item)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <pagination-template #p="paginationApi"
                     [id]="config.id"
                     (pageChange)="config.currentPage = $event">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <a *ngIf="!p.isFirstPage()" (click)="p.previous()" class="pagination-previous"  [class.disabled]="p.isFirstPage()">Previous</a>
      <a class="pagination-next"  [class.disabled]="p.isLastPage()"  *ngIf="!p.isLastPage()" (click)="p.next()">Next page</a>
      <ul class="pagination-list">
        <li *ngFor="let page of p.pages" >
          <a class="pagination-link" aria-label="Goto page 1" [class.is-current]="p.getCurrent() === page.value">{{page.label}}</a>
        </li>
      </ul>
    </nav>
  </pagination-template>
  <div class="modal"  [ngClass]="status ? 'is-active' : ''">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Masukkan Data Berita</p>
        <button class="delete" aria-label="close" (click)="tooglemodals()"></button>
      </header>
      <section class="modal-card-body">
        <div class="control">
          <label>Title</label>
          <input class="input" type="text" placeholder="title" [(ngModel)]="title">
        </div>
        <div class="control">
          <label>Deskripsi Singkat</label>
          <textarea class="textarea" placeholder="e.g. Hello world"  [(ngModel)]="deskripsisingkat"></textarea>
        </div>
        <div class="control">
          <label>Deskripsi Lengkap</label>
          <textarea class="textarea" placeholder="e.g. Hello world"  [(ngModel)]="deskripsilengkap"></textarea>
        </div>
        <br>
        <div class="file has-name">
          <label class="file-label">
            <input class="file-input" type="file" name="resume" (change)="onfilechange()">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
            <span class="file-name">
              Screen Shot 2017-07-29 at 15.54.25.png
            </span>
          </label>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="simpan()">Save changes</button>
        <button class="button" (click)="tooglemodals()">Cancel</button>
      </footer>
    </div>
  </div>
  
</section>